.label {
    width: 150px;
    padding-right: 5px;
    text-align: right;
    font-style: italic;
}

.textbox {
    width: 230px;
    border: 1px solid #777777;
}

.textbox:hover {
    border: 1px solid #ff0000;
}

.textbox:focus {
    border: 1px solid #ff0000;
    background-color: ffffaa;
}

.header {
    background-color: #006699;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

.button {
    border: 1px solid #777777;
    width: 70px;
}

.button:hover {
    border: 1px outset #777777;
}